In [36]:
# Nama : Ammar Ramadhan
# NIM  : 221011402334
# Kelas : 05 TPLM 006
# UTS : Kecerdasan Buatan
# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

In [31]:
#NO 1
# Mengurutkan daftar perusahaan berdasarkan nama secara terbalik
sorted_companies = sorted(
    [{'name': company['name']} for company in company_detail_list],
    key=lambda x: x['name'],
    reverse=True
)
sorted_companies

[{'name': 'Company 3'}, {'name': 'Company 2'}, {'name': 'Company 1'}]

In [32]:
# NO 2
# Mencetak bidang usaha dan negara asal setiap perusahaan
for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

In [33]:
# NO 3
from collections import defaultdict

# Membuat peta yang menghubungkan nama perusahaan dengan domain
domain_mapping = {company['name']: company['domain'] for company in company_detail_list}

# Mengelompokkan karyawan berdasarkan domain
employees_by_domain = defaultdict(list)
for employee in employee_detail_list:
    domain = domain_mapping.get(employee['company'])
    if domain:  # Memastikan perusahaan memiliki domain
        employees_by_domain[domain].append(employee['full_name'])

# Mengonversi defaultdict ke dictionary biasa untuk hasil akhir
employees_by_domain = dict(employees_by_domain)
employees_by_domain

{'Retail': ['John Doe', 'Ying Han Tan', 'Robert White'],
 'Technology': ['Tom Smith', 'Rubby Lee'],
 'Healthcare': ['Andrew Sebastian', 'Kenneth Ng']}

In [34]:
# NO 4
def employees_with_company_country():
    # Membuat peta perusahaan dengan negara asalnya
    country_mapping = {company['name']: company['country'] for company in company_detail_list}
    
    # Membuat daftar karyawan dengan negara asal perusahaan
    result = [
        {
            "full_name": employee['full_name'],
            "company": employee['company'],
            "country": country_mapping.get(employee['company'], "Unknown")
        }
        for employee in employee_detail_list
    ]
    return result

employees_with_company_country()

[{'full_name': 'John Doe', 'company': 'Company 1', 'country': 'United States'},
 {'full_name': 'Tom Smith',
  'company': 'Company 2',
  'country': 'United Kingdom'},
 {'full_name': 'Andrew Sebastian',
  'company': 'Company 3',
  'country': 'United States'},
 {'full_name': 'Ying Han Tan',
  'company': 'Company 1',
  'country': 'United States'},
 {'full_name': 'Kenneth Ng',
  'company': 'Company 3',
  'country': 'United States'},
 {'full_name': 'Rubby Lee',
  'company': 'Company 2',
  'country': 'United Kingdom'},
 {'full_name': 'Robert White',
  'company': 'Company 1',
  'country': 'United States'}]

In [35]:
# NO 5
def company_nationality_counts():
    # Membuat defaultdict untuk menghitung jumlah kebangsaan karyawan di setiap perusahaan
    nationality_counts = defaultdict(lambda: defaultdict(int))

    for employee in employee_detail_list:
        nationality_counts[employee['company']][employee['nationality']] += 1

    # Mengonversi hasil ke dalam format yang diharapkan
    result = [
        {
            "company": company['name'],
            "employee_nationality": dict(nationality_counts[company['name']])
        }
        for company in company_detail_list
    ]
    return result

company_nationality_counts()

[{'company': 'Company 1',
  'employee_nationality': {'Australia': 2, 'United Kingdom': 1}},
 {'company': 'Company 2',
  'employee_nationality': {'United States': 1, 'Hong Kong': 1}},
 {'company': 'Company 3', 'employee_nationality': {'United States': 2}}]